@model IEnumerable<Prueba_Innovation.ViewModels.ConductorViewModel>


<h4>Listado de Conductores</h4>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DNI">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DNI">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.DNI">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
