@model Prueba_Innovation.Models.Vehiculo

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Vehículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Matricula" />
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI_Conductor" class="control-label">Conductor habitual</label>
                <select asp-for="DNI_Conductor" class="form-control" >
                    @foreach (var C in ViewBag.Conductor)
                    {
                        if (C.DNI == Model.DNI_Conductor.ToString())
                        {
                            <option value="@C.DNI" selected> @C.Nombre @C.Apellidos</option>
                        }
                        else
                        {
                            <option value="@C.DNI"> @C.Nombre @C.Apellidos</option>
                        }

                    }
                </select>
                <span asp-validation-for="DNI_Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
